<?xml version="1.0" encoding="UTF-8"?>
<widget id = "com.solsort.frie-sange" version = "0.0.1" xmlns = "http://www.w3.org/ns/widgets">


    <name>Frie Børnesange</name>
    <date>2014-03</date>
    <shortdescription>Sangbog med børnesange med udløbet der frit kan bruges.</shortdescription>
    <description>Sangbog med 11 børnesange, der er så gamle at de er frie af ophavsretslige begrænsninger, og derfor kan deles med andre og bruges i sammenhænge udenfor privatsfæren.

Mulighed for at vise hele sangen, eller et enkelt vers ad gangen på skærmen, - designet til at man kan sidde og synge med barn, og derfor kan pege/røre ved teksten, uden at der scrolles rundt.

Sangene i sangbogen er:
- Der sad to katte på et bord
- En elefant kom marcherende
- En pige gik i enge
- Mæ siger det lille lam
- Ride ride ranke
- Jeg gik mig over sø og land
- Mester Jakob
- Oppe i Norge der boede tre trolde
- Tommelfinger, tommelfinger, hvor er du?
- I skoven skulle være gilde
- Langt ude i skoven
</description>
    <author href="http://solsort.com" email="frie-sange@solsort.com">Rasmus Erik Voel Jensen (solsort.com)</author>
    <!-- preference name="phonegap-version" value="3.3.0" /-->
    <icon src="icon.png" />
    <!--splash src="www/assets/splash.png" /-->

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />

    <preference name="orientation" value="default" />
    <preference name="permissions" value="none" /> 
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="false" />

    <!--feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/device" /-->

 
    <engine name="android" />
    <platform name="android">
       <preference name="android-installLocation" value="internalOnly" /> 
       <!--preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" /--> 
    </platform>

    <!--engine name="ios" />
    <platform name="ios">
        <preference name="target-device" value="universal" />
        <preference name="prerendered-icon" value="false" />
        <preference name="ios-statusbarstyle" value="black-opaque" />
        <preference name="detect-data-types" value="false" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="deployment-target" value="7.0" />
    </platform-->

    <engine name="browser" />
    <engine name="ubuntu" />

    <!--
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    ios:
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    android:
        <allow-intent href="market:*" />

    -->
</widget>
